<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="vn.evolus.droidreader"
      android:versionCode="3"
      android:versionName="1.0b1">
    <application 
        android:name="Application"
        android:icon="@drawable/icon" android:label="@string/applicationName"
        android:debuggable="true">
        <activity android:name=".LatestItemsActivity"
                  android:label="@string/applicationName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ChannelActivity" />
        <activity android:name=".ItemActivity" />
        <activity android:name=".SubscriptionActivity" />
        <activity android:name=".NewSubscriptionActivity" />
        <activity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="vn.evolus.intent.action.Preferences" /> 
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        
        <activity android:name=".AuthorizationActivity" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:scheme="droidreader" android:host="authorization"></data>
            </intent-filter>
        </activity>
        
        <service android:name=".services.ContentSynchronizationService" />
        <service android:name=".services.ImageDownloadingService" />
        
        <provider android:name=".providers.ImagesProvider"
           android:authorities="vn.evolus.news.images" />
        <provider android:name=".providers.ContentsProvider"
           android:authorities="vn.evolus.news.contents" />    
        
        <receiver android:name=".ConnectivityReceiver">
		    <intent-filter>
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		    </intent-filter>
		</receiver>
		
		<meta-data android:value="a14c777fa0be570" android:name="ADMOB_PUBLISHER_ID" /> 
    </application>    
    <uses-sdk android:minSdkVersion="4" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest> 